{% extends "base.html" %}

{% block content %}

<div class="ui main container">
    <h1 class="ui header"> {{ component.name }} </h1>
    <h3 class="ui teal header">Name</h3>
    <h5 class="ui blue header"> {{ component.name }} </h5>
    <h3 class="ui teal header">Version</h3>
    <h5 class="ui blue header"> {{ component.version }} </h5>
    <h3 class="ui teal header">Created on</h3>
    <h5 class="ui blue header"> {{ component.created_on }} </h5>
    <h3 class="ui teal header">Created by</h3>
    <h5 class="ui blue header"> {{ component.created_by }} </h5>
    <h3 class="ui teal header">Publication Date</h3>
    <h5 class="ui blue header"> {{ component.pub_date }} </h5>
    <h3 class="ui teal header">Origin</h3>
    <h5 class="ui blue header"> <a href={{ component.origin or '#' }}>{{ component.origin }} </a></h5>
    <h3 class="ui teal header">Source URL</h3>
    <h5 class="ui blue header"><a href={{ component.source_url  or '#' }}> {{ component.source_url }} </a></h5>
    <h3 class="ui teal header">Associated Components</h3>
    {% if component.components.count() > 0 %}
	<ul>
	    {% for c in component.components %}
		<li><h5 class="ui blue header"><a href={{ url_for('component_info', id=c.id) }}> {{ c.name }} </a></h5></li>
	    {% endfor %}
        </ul>
    {% else %}
        <h5 class="ui blue header">None</h5>
    {% endif %}
    <h3 class="ui teal header">License Expression</h3>
    <h5 class="ui blue header"> {{ component.license_expression }} </h5>
</div>
{% endblock %}
