{% extends "base.html" %}

{% block content %}
<style>
    .ui.segment.inverted {
	margin-bottom: 0 !important;
    }
</style>
<div class="jumbotron">
    <div class="ui main container">
	<h1>Clio</h1>
	<p>Clio is a web based system for maintaining meta information on  software components</p>
	<p><a class="btn btn-primary btn-lg" href="https://github.com/eellak/clio" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="ui main container">
    <div class="row">
	<div class="col-md-4">
	    <h2>License</h2>
	    <p></p>
	    <p><a class="btn btn-default" href="/license" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
	    <h2>Component</h2>
	    <p>A piece of software, usually a complete package. It can be Simple or Complex</p>
	    <p><a class="btn btn-default" href="/component" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
	    <h2>Product</h2>
	    <p></p>
	    <p><a class="btn btn-default" href="/product" role="button">View details &raquo;</a></p>
	</div>
    </div>
</div> 
{% endblock %}
