{% extends "base.html" %}
<!-- 
    SPDX-License-Identifier: GPL-3.0-or-later
    See GPL-3.0-or-later in the Licenses folder for license information
-->

{% block content %}
<style>
.ui.segment.inverted {
    margin-bottom: 100px !important;
}
.ui.huge.primary.button {
    margin-bottom: 100px !important;
}
h2 {
    margin: 0 0 50px 0
}
</style>
<div class="ui text container">
    <h1 class="ui header">Clio</h1>
    <h2>System for maintaining meta information on software components</h2>
    <a class="ui huge primary button" href="https://github.com/eellak/clio">Learn more <i class="right arrow icon"></i></a>
</div>
<div class="ui container stackable grid">
    <div class="three column row">
	<div class="column">
	    <h1 class="ui header">
		License	
	    </h1>
	    <p>
	    </p>
	    <a class="ui small basic button" href="/license">
		View details &raquo;
	    </a>
	</div>
	<div class="column">
	    <h1 class="ui header">
		Component	
	    </h1>
	    <p>
		A piece of software, usually a complete package which could either be simple or complex.
	    </p>
	    <a class="ui small basic button" href="/component">
		View details &raquo;
	    </a>
	</div>
	<div class="column">
	    <h1 class="ui header">
		Product	
	    </h1>
	    <p>
	    </p>
	    <a class="ui small basic button" href="/product">
		View details &raquo;
	    </a>
	</div>
    </div>
</div>

{% endblock %}
