{% extends "base.html" %}

{% block content %}

<div class="ui main container">
    <h1 class="ui header"> {{ license.full_name }} </h2>
    <h3 class="ui teal header">Full Name</h3>
    <h5 class="ui blue header"> {{ license.full_name }} </h5>
    <h3 class="ui teal header">Short identifier</h3>
    <h5 class="ui blue header"> {{ license.identifier }} </h5>
    <h3 class="ui teal header">License Category</h3>
    <h5 class="ui blue header"> {{ license.license_category }} </h5>
    <h3 class="ui teal header">Text</h3>
    <h5 class="ui blue header"> {{ license.license_text }} </h5>
</div>
{% endblock %}
