psycopg2==2.7.4
click==6.7
Werkzeug==0.14.1
MarkupSafe==1.0
Jinja2==2.10
itsdangerous==0.24
Flask==1.0.2
SQLAlchemy==1.1.15
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Mako==1.0.7
python-editor==1.0.3
six==1.11.0
python-dateutil==2.7.2
alembic==0.9.9
boolean.py==3.5
license-expression==0.97
decorator==4.3.0
validators==0.12.1
pyasn1==0.4.3
pyasn1-modules==0.2.2
python-ldap==3.1.0
pyldap==3.0.0.post1
flask-simpleldap==1.2.0
